@import './less-files/header.less';
@import './less-files/footer.less';
@import '../../general-less/main.less';

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}